 <div class="novo-pacote-card" data-id="pacote-cancun-playa" data-keywords="cancun playa carmem playa del carmen mexico caribe internacional praia pacote">
        <div class="novo-pacote-img">
            <img src="/assets/img/pacotes/internacionais/cancunplayadelcarmem.png" alt="Cancun - Playa Carmem">
            <span class="novo-pacote-dias">6 dias | 5 noites</span>
        </div>
        <div class="novo-pacote-info">
            <div class="novo-pacote-titulo">
            <span class="novo-pacote-icone">🎫 Pacote</span>
            <h3>Cancun & Playa del Carmen</h3>
            <p>Saindo de São Paulo</p>
            </div>
            <ul class="novo-pacote-lista">
            <li>✔️ Aéreo ida e volta</li>
            <li>✔️ Hospedagem</li>
            <li>✔️ Café da manhã</li>
            </ul>
            <div class="novo-pacote-preco">
            <span class="novo-pacote-parcela">a partir de <strong>USD 1.398,00</strong></span>
            <span class="novo-pacote-pessoa">Preço por pessoa</span>
            </div>
            <button class="novo-pacote-btn verde">Saiba Mais</button>
            <span class="novo-pacote-pessoa-final">Taxas Inclusas - <Strong>Sujeito a Disponibilidade</Strong></span>
        </div>
    </div>