<div class="blog-post">
    <div class="blog-image">
        <img src="/assets/img/pacotes/nacionais/portodegalinhas.png" alt="Summer Holiday To The Oxolotan River">
          <div class="blog-date">25 de Setembro de 2025</div>
    </div>

    <div class="blog-content">
        <div class="blog-author">
            <div class="author-avatar">
                <img src="/assets/img/ui/ericablog.jpg" alt="Érica Silva">
            </div>
            <p class="author-info"> Por <strong>Érica Silva</strong></p>
        </div>
        
        
        <h3 class="blog-title">Porque escolher o Brasil?</h3>
        <p class="blog-text">saiba sobre os melhores destinos turísticos do Brasil.</p>
        <a href="/blog/post1.html" class="blog-read-more">Leia mais...</a>
    </div>
</div>
