 <div class="novo-pacote-card" data-id="pacote-porto-de-galinhas" data-keywords="porto de galinhas pernambuco nordeste nacional">
        <div class="novo-pacote-img">
            <img src="/assets/img/pacotes/nacionais/portodegalinhas.png" alt="Porto de Galinhas">
            <span class="novo-pacote-dias">6 dias | 5 noites</span>
        </div>
        <div class="novo-pacote-info">
            <div class="novo-pacote-titulo">
            <span class="novo-pacote-icone">🎫 Pacote</span>
            <h3>Porto de Galinhas</h3>
            <p>Saindo de São Paulo</p>
            </div>
            <ul class="novo-pacote-lista">
            <li>✔️ Aéreo ida e volta</li>
            <li>✔️ Hospedagem</li>
            <li>✔️ Café da manhã</li>
            </ul>
            <div class="novo-pacote-preco">
            <span class="novo-pacote-parcela">a partir de <strong>USD 1.398,00</strong></span>
            <span class="novo-pacote-pessoa">Preço por pessoa</span>
            </div>
            <button class="novo-pacote-btn verde">Saiba Mais</button>
            <span class="novo-pacote-pessoa-final">Taxas Inclusas - <Strong>Sujeito a Disponibilidade</Strong></span>
        </div>
    </div>